* {
	border-radius: 0;
	border: none;
	background-image: none;
	font-family: "Inter Tight", "Inter", "Pragmasevka Nerd Font", sans-serif;
	font-size: 14px;
}

button, .item, .widget, .tray .item, .workspaces .item, .clock, .battery {
	box-shadow: none;
	text-shadow: none;
	-gtk-icon-shadow: none;
}

window {
	background-color: transparent;
}

#bar {
	background-color: #000000;
}

box, button, label {
	background-color: #0000;
	color: #d4d0ca;
}

button {
	padding-left: 0.5em;
	padding-right: 0.5em;
	margin: 3px 0;
}

button:hover, button:active {
	background-color: #1a1a1a;
}

.workspaces .item {
	padding: 0 0.5em 0 0.2em;
	margin: 3px 0;
}

.workspaces .item label {
	background-color: transparent;
	color: #7a756d;
	font-weight: bold;
	min-width: 18px;
	min-height: 18px;
	padding: 0;
	margin: 0;
}

.workspaces .item:hover {
	background-color: transparent;
	box-shadow: inset 0 -2px 0 #7a756d;
}

.workspaces .item.focused {
	box-shadow: inset 0 -2px 0 #d4d0ca;
}

.workspaces .item.focused label {
	color: #d4d0ca;
}

.workspaces .window-icons {
	margin-left: 0.2em;
	opacity: 0.5;
}

.workspaces .item.focused .window-icons {
	opacity: 1;
}

.widget {
	padding-left: 0.6em;
	padding-right: 0.6em;
}

#minimized {
	padding: 0 0.2em;
	color: #b0aca4;
}

#minimized button:hover,
#minimized button:active {
	background-color: transparent;
}

.focused label {
	color: #7a756d;
}

.tray {
	opacity: 1;
	padding: 0;
	margin: 0;
}

.tray .item {
	min-width: 24px;
	padding: 0 3px;
	margin: 3px 0;
	border-radius: 0;
}

.tray .item:hover,
.tray .item:active {
	background-color: transparent;
}

.clock,
.clock:hover,
.clock:active {
	min-width: 32px;
	margin-left: 4px;
	margin-right: 4px;
	background-color: transparent;
}

#cpu,
#memory {
	padding: 0 0.2em;
}

.battery,
.battery:hover,
.battery:active {
	padding: 0 0.2em 0 0;
	margin: 0;
	background-color: transparent;
}

#cpu image,
#memory image {
	min-width: 6px;
	min-height: 14px;
}

.battery label,
.clock label {
	font-feature-settings: "tnum";
	font-weight: bold;
	color: #7a756d;
}


.widget.custom.power-menu {
	padding-left: 0;
	padding-right: 0;
}

.power-menu #power-button {
	padding: 0 0.4em;
}

.power-menu #power-button:hover,
.power-menu #power-button:active {
	background-color: transparent;
}

tooltip {
	background-color: #1a1a1a;
	border: none;
	box-shadow: none;
	padding: 4px 8px;
}

tooltip label {
	color: #d4d0ca;
	font-size: 13px;
}

popover, popover > contents {
	border: none;
	box-shadow: none;
	background-color: #1a1a1a;
	padding: 0;
	margin: 0;
}

.popup button {
	padding: 6px 16px;
	margin: 0;
	border-radius: 0;
	background-color: transparent;
}

.popup button label {
	margin-right: auto;
}

.popup button:hover {
	background-color: #2a2a2a;
}
