* {
	border-radius: 0;
	border: none;
	background-image: none;
	font-family: "Inter", sans-serif;
	font-size: 14px;
}

window {
	background-color: transparent;
}

#bar {
	background-color: transparent;
}

box, button, label {
	background-color: #0000;
	color: #d4d0ca;
}

button {
	padding-left: 0.5em;
	padding-right: 0.5em;
	margin: 5px 0;
	border-radius: 12px;
}

button:hover, button:active {
	background-color: #2d2d2d;
}

.workspaces .item {
	padding: 0 0.5em 0 0.2em;
	margin: 5px 0;
}

.workspaces .item label {
	background-color: transparent;
	color: #7a756d;
	font-weight: bold;
	min-width: 18px;
	min-height: 18px;
	padding: 0 2px;
	margin: 0;
}

.workspaces .item:hover {
	background-color: #2d2d2d;
	border-radius: 12px;
}

.workspaces .item.focused {
	background-color: transparent;
	box-shadow: inset 0 0 0 1px #7a756d;
	border-radius: 12px;
}

.workspaces .item.focused label {
	color: #d4d0ca;
}

.workspaces .window-icons {
	margin-left: 4px;
}

.widget {
	padding-left: 0.6em;
	padding-right: 0.6em;
}

.focused label {
	color: #7a756d;
}

.tray {
	opacity: 1;
}

.tray .item {
	min-width: 24px;
	padding: 0 3px;
	margin: 5px 0;
	border-radius: 12px;
}

.clock {
	min-width: 32px;
}

#cpu,
#memory {
	padding: 0 0.2em;
}

.battery {
	padding: 0 0.2em;
}

.battery .contents {
	margin: 0;
	padding: 0;
}

.battery .icon {
	margin-right: -3px;
}

#cpu image,
#memory image {
	min-width: 6px;
	min-height: 14px;
}

.battery label {
	font-feature-settings: "tnum";
	color: #b0aca4;
}

.clock label {
	font-feature-settings: "tnum";
	color: #7a756d;
}

.clock {
	font-weight: bold;
}
