{:aliases {:new {:exec-args {:template "app"},
                 :exec-fn clj-new/create,
                 :extra-deps {com.github.seancorfield/clj-new {:mvn/version "1.1.331"}}},
           ;; - start a Rebel Readline REPL:
           :rebel {:extra-deps {com.bhauman/rebel-readline {:mvn/version "0.1.4"}},
                   :main-opts ["-m" "rebel-readline.main"]}
           :graph {:replace-deps {org.clojure/tools.deps.graph {:mvn/version "1.0.63"}}
                   :ns-default clojure.tools.deps.graph}
           :dev/repl {:jvm-opts ["-XX:-OmitStackTraceInFastThrow"]
                      :main-opts ["-e" "(load-file,(str,(System/getProperty,\"user.home\"),\"/.clojure/dev.clj\"))"]}
           :outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
                      :main-opts ["-m" "antq.core"]}
           :check {:extra-deps {io.github.athos/clj-check
                                {:git/tag "0.10" :git/sha "0ca84df"}}
                   :main-opts ["-m" "clj-check.check"]}
           ;; - (require '[criterium.core :refer [bench]])
           ;; - (bench (your-expression))
           :bench {:extra-deps {criterium/criterium {:mvn/version "RELEASE"}}}
           ;; - (require '[clj-java-decompiler.core :refer [decompile]])
           ;; - (decompile (your-expression))
           :decompile {:extra-deps {com.clojure-goes-fast/clj-java-decompiler {:mvn/version "RELEASE"}}}
           ;; - (require '[clj-memory-meter.core :as mm])
           ;; - (mm/measure (your-expression))
           :measure {:extra-deps {com.clojure-goes-fast/clj-memory-meter {:mvn/version "RELEASE"}}}
           ;; - in case you need precompiled code on your classpath:
           :classes {:extra-paths ["classes"]}
           ;; - start a Socket pREPL on port 40404:
           :prepl {:jvm-opts ["-Dclojure.server.repl={:port,40404,:accept,clojure.core.server/io-prepl}"]}
           ;; - start an nREPL server on a random available port:
           :nrepl {:extra-deps {nrepl/nrepl {:mvn/version "RELEASE"}}
                   :main-opts ["-m" "nrepl.cmdline"]}
           ;; - start a Socket REPL on port 50505 (not needed if you use the :dev/repl alias):
           :socket {:jvm-opts ["-Dclojure.server.repl={:address,\"0.0.0.0\",:port,50505,:accept,clojure.core.server/repl}"]}
           ;; - start a Socket REPL on an available port, and display that port:
           ;; - specify -r as well if you want a repl
           :socket-zero {:jvm-opts ["-Dclojure.server.repl={:port,0,:accept,clojure.core.server/repl}"]
                         :main-opts ["-e" "(.getLocalPort,(get-in,@#'clojure.core.server/servers,[\"repl\",:socket]))"]}
           ;; - start a Socket REPL on port 50123, that will submit everything to REBL:
           ;; - assumes you have REBL on your classpath (see :rebl below)
           :socket-rebl {:extra-deps
                         {io.github.seancorfield/socket-rebl
                          {:git/url "https://github.com/seancorfield/socket-rebl"
                           :sha "60dd65cb8d03a9cf5eba21081cdfad5e27f72a8b"}}
                         :jvm-opts ["-Dclojure.server.repl={:port,50123,:accept,socket.rebl/repl}"]}
           :rebl {:extra-deps {com.cognitect/rebl {:mvn/version "0.9.242"}}
                  :main-opts ["-m" "cognitect.rebl"]}

           :1.11 {:override-deps {org.clojure/clojure {:mvn/version "1.11.0-alpha1"}}}
           ;; to get access to clojure.tools.deps.alpha.repl/add-libs
           ;; IMPORTANT NOTE: this is the new add-lib3 branch but is still a work in progress and likely to break/change as the core team's work continues on integrating some add-lib-like functionality officially into either t.d.a or perhaps Clojure itself; in addition, the default install of the Clojure CLI includes a :deps alias to the version of t.d.a that is included in the install, so I renamed :deps to :add-lib!  CAVEAT: since this is a git dependency, it doesn't bring in any of the compiled Java code so S3 Maven repos are not accessible via this alias (which the released t.d.a provides).
           ;; - now you can add new deps to a running REPL:
           ;; (require '[clojure.tools.deps.alpha.repl :refer [add-libs]])
           ;; (add-libs '{some/library {:mvn/version "RELEASE"}})
           ;; - and you can git deps too; here's how to get the master version of a lib:
           ;; (require '[clojure.tools.gitlibs :as gitlibs])
           ;; (defn load-master [lib]
           ;;   (let [git (str "https://github.com/" lib ".git")]
           ;;    (add-libs {lib {:git/url git :sha (gitlibs/resolve git "master")}})))
           ;; - e.g., using the GitHub path (not the usual Maven group/artifact):
           ;; (load-master 'clojure/tools.trace
           :add-libs {:extra-deps {org.clojure/tools.deps.alpha ; add-lib3 branch
                                    {:git/url "https://github.com/clojure/tools.deps.alpha"
                                     :sha "02809dbd41d4fe6e269ee67316d054a04bc70678"}}
                      ;; this ensures we have a DynamicClassLoader, which is needed for add-libs to work, if we're starting other processes via aliases such as a socket REPL or Cognitect's REBL etc
                      :main-opts ["-e" "(->> (Thread/currentThread) (.getContextClassLoader) (clojure.lang.DynamicClassLoader.) (.setContextClassLoader (Thread/currentThread)))"]}
           :eastwood {:extra-deps {jonase/eastwood {:mvn/version "RELEASE"}}
                      :main-opts ["-m" "eastwood.lint" "{:source-paths,[\"src\"],:test-paths,[\"test\"]}"]}
           :readme {:extra-deps {seancorfield/readme {:mvn/version "RELEASE"}}
                    :main-opts ["-m" "seancorfield.readme"]}
           ;; testing and debugging tools (this would normally be overridden by a :test alias in the project deps.edn file -- but it's a useful default):
           :test {:extra-paths ["test" "src/test/clojure"]
                  :extra-deps {org.clojure/test.check {:mvn/version "RELEASE"}}}
           ;; - run your tests: clj -X:test:runner
           :runner {:extra-deps {io.github.cognitect-labs/test-runner
                                 {:git/tag "v0.4.0" :git/sha "334f2e2"}}
                    :exec-fn cognitect.test-runner.api/test
                    :exec-args {:dirs ["test" "src/test/clojure"]}}
           ;; jar installation and deployment:
           ;; - see https://github.com/slipset/deps-deploy
           ;;   - clj -X:install :artifact '"project.jar"'
           ;;   - clj -X:deploy :artifact '"project.jar"'
           ;; - these rely on having a pom.xml file and, for deployment, these two environment variables: CLOJARS_USERNAME, CLOJARS_PASSWORD
           :install {:replace-deps {slipset/deps-deploy {:mvn/version "RELEASE"}}
                     :exec-fn deps-deploy.deps-deploy/deploy
                     :exec-args {:installer :local}}
           :deploy {:replace-deps {slipset/deps-deploy {:mvn/version "RELEASE"}}
                    :exec-fn deps-deploy.deps-deploy/deploy
                    :exec-args {:installer :remote}}
           :find-deps {:extra-deps {find-deps/find-deps {:git/url "https://github.com/hagmonk/find-deps"
                                                         :sha "9bf23a52cb0a8190c9c2c7ad1d796da802f8ce7a"}},
                       :main-opts ["-m" "find-deps.core"]}
           :reveal {:extra-deps {vlaaad/reveal {:mvn/version "RELEASE"}}
                    :main-opts ["-m" "vlaaad.reveal" "repl"]
                    ;; make the font more readable:
                    :jvm-opts ["-Dvlaaad.reveal.prefs={:font-size,24}"]}}
 :paths ["/home/avo/gdrive"]
 :deps {com.bhauman/rebel-readline {:mvn/version "0.1.4"},
        org.clojure/tools.deps.alpha {:git/url "https://github.com/clojure/tools.deps.alpha"
                                      :sha "241cd24c35ba770aea4773ea161d45276e5d3a73"}
        etaoin/etaoin {:mvn/version "0.4.5"}

        ; com.qatrend/pomegranate {:mvn/version "1.0"}

        clj-commons/pomegranate {:mvn/version "1.2.1"}
        jansi-clj/jansi-clj {:mvn/version "0.1.1"}
        http-kit/http-kit {:mvn/version "2.5.3"}
        clj-chrome-devtools/clj-chrome-devtools {:mvn/version "20200423"}
        org.clojure/java.classpath {:mvn/version "1.0.0"}
        org.clojure/clojurescript {:mvn/version "1.10.879"}
        org.clojure/clojure {:mvn/version "1.11.0-alpha1"}
        io.aviso/pretty {:mvn/version "1.1"}}}
